{{#head-info}}
    <h4>
        Administración e Innovación en Modelos de Negocio
    </h4>
    <p style="font-size: 1.8em; margin-bottom: 0;">
    	Proyecto Final
    </p>
{{/head-info}}
<div id="vody" class="col s10 offset-s2">
	<h5>Objetivo</h5>
		<p>Elaborar un portafolio de contenido de la asignatura Administración e Innovación  en modelos de negocios, que permita  afianzar los conocimientos adquiridos en el curso, haciendo uso de las herramientas tecnológicas como aplicaciones educativas en la que desarrollen los temas de manera didáctica, combinando la parte teórica de la administración y la aplicación de la innovación a través de la tecnología.</p>
	<h5>
		Integrantes
	</h5>
		Jessica Michelle Sánchez Reyes - A01273146 <br>
		Roberto Javier Huerta González - A01273164
	<h5>Contenido General</h5>
		<ol class="listR">
			<li class="subWa">Unidad 1</li>
				<ol style="list-style-type: lower-alpha;">
					<li>¿Qué es administración?</li>
					<li> Funciones administrativas.</li>
					<li> El proceso de planeación.</li>
					<li> La organización y su estructura orgánica.</li>
					<li> Enfoque funcional en la organización, descripción y desventajas en el mundo actual..</li>
					<li> Enfoque de procesos de negocios, flujos organizaciones y su relación con la generación de valor.</li>
					<li>Tipos de Administradores.</li>
				</ol>
			<li class="subWa">Unidad 2</li>
				<ol style="list-style-type: lower-alpha;">
					<li> ¿Qué es el concepto de innovación?</li>
					<li> Estrategias contemporáneas de innovación.</li>
					<li> Innovando el valor.</li>
					<li> Principios fundamentales en la innovación.</li>
					<li> Océanos rojos versus océanos azules.</li>
					<li> Implementando la innovación como estrategia.</li>
				</ol>
			<li class="subWa">Unidad 3</li>
				<ol style="list-style-type: lower-alpha;">
					<li> Modelo de Negocios orientado al Impacto Social.</li>
					<li> Los principios morales que rigen las decisiones en las empresas. oc</li>
					<li> Filosofías para la toma de decisiones en las empresas. </li>
					<li> La relación entre la ética y las leyes. </li>
					<li> El administrador y su apego a principios morales.</li>
					<li> Efectos de las organizaciones en los diferentes grupos de interés.</li>

					<li> ¿Qué es diversidad?</li>
					<li> Presencia multicultural en la fuerza de trabajo.</li>
					<li> Roles del administrador y el manejo de la diversidad.</li>

					<li> Modelo de Negocio orientado al Desarrollo de un Ambiente Globalizado.</li>
					<li> Fuerzas del ambiente organizacional.</li>
					<li> Análisis de los tipos de ambientes.</li>

					<li>  Modelo de Negocio orientado a la Generación de Procesos. </li>
					<li>  La administración estratégica de la cadena de valor.</li>
					<li> La mejora en la velocidad de respuesta al consumidor,  en la calidad y en la eficiencia del negocio identificando sus procesos clave. </li>
				</ol>
			<li class="subWa">Unidad 4</li>
				<ol style="list-style-type: lower-alpha;">
					<li> La información y el trabajo del administrador.</li>
					<li> La revolución de la tecnología de información.</li>
					<li> Los tipos de sistemas de información administrativa.</li>
					<li> Efecto en la organización de los sistemas de información y la tecnología.</li>
				</ol>
		</ol>
</div>