{{#head-info}}
    <h4>
        Administración e Innovación en Modelos de Negocio
    </h4>
    <h5>
    	Proyecto Final
    </h5>
{{/head-info}}
<div id="vody" class="col s10 offset-s2">
	<h5>Objetivo</h5>
		<p>Aquí va el objetivo y así c:</p>
	<h6>
		Jessica Michelle Sánchez Reyes - A01273146 <br>
		Roberto Javier Huerta González - A01273164
	</h6>
	<h5>Contenido General</h5>
		Aquí va el contenido general y así c:
</div>