<div class="row">
	{{#head-info}}
	    <h4>
	        Reflexión
	    </h4>
	{{/head-info}}
</div>	
<div class="row">
	<div class="col s12 m10 offset-m2">
		
		{{#materialize-collapsible}}
			<li>
				<div class="collapsible-header">Jessica Michelle Sánchez Reyes</div>
				<div class="collapsible-body">
					<ol style="list-style-type: upper-roman;">
						<li>I. ¿Cuál consideras que es la razón por las cuales muchas empresas en México no llegan a ser exitosas?
							<p>Considero que la razón por la que muchas empresas en México no llegan a ser exitosas es que no todas se atreven a introducir nuevos productos o servicios al mercado, o no se atreven a cambiar aspectos de los productos o servicios que ya hay. Por otro lado, considero que la falta de pasión y compromiso en las empresas podría llevarlas a no ser tan exitosas. Es decir, las empresas deberían ser las primeras en “creer” en lo que venden, así como cumplir las metas y objetivos que se han propuesto desde un inicio.</p>
						</li>
						<li>II. ¿Qué enseñanza te dejó este artículo y cómo lo pondrías en práctica en tú vida profesional?
							<p>La enseñanza que me dejó este artículo es que aún si son pocas las empresas mexicanas que han tenido éxito, eso no significa que sea imposible lograrlo. También, este artículo ilustra cómo se puede innovar en diferentes áreas, y no sólo en la tecnológica. Estas enseñanzas las pondría en práctica en mi vida profesional porque de esta forma podría crear un producto o servicio que satisfaga las necesidades de las personas, y que a la vez sea algo nuevo para ellas.</p>
						</li>
						<li>III. Suponiendo que el día de hoy eres un emprendedor, ¿Cuál sería el objetivo principal de tu empresa y su visión en un corto plazo?
							<p>El objetivo principal de mi empresa sería poder introducir al mercado un producto o servicio innovador; la visión a corto plazo sería poder encontrar la forma de hacer que este producto o servicio fuera conocido en diferentes partes del mundo, teniendo un mercado más globalizado.</p>
						</li>
					</ol>
					<p>Ahora de los temas vistos en la unidad y del trabajo en equipo colaborativo realizado a través del desarrollo de este proyecto quisiera que me compartieras por favor tu respuesta a las siguientes preguntas: </p>
					<ol>
						<li>I. ¿Cuál de los temas vistos en el transcurso de la asignatura te generó más interés y por qué?
							<p>De los temas vistos en clase mi interesó el tema del modelo de negocios orientado a la generación de procesos, en especial a lo que tenía que ver con la cadena de valor. La razón por la que me interesó este tema fue que pude ver la forma en la que diferentes actividades pueden afectar la ventaja competitiva de la empresa. Asimismo, me interesó el tema de los sistemas de información por la forma en que los sistemas pueden hacer más sencillo el manejo de información y procesos dentro de una empresa.</p>
						</li>
						<li>II. ¿Qué fortalezas puedes resaltar del trabajo en equipo realizado en el desarrollo del proyecto?
							<p>Las fortalezas que puedo resaltar del trabajo en equipo son la comunicación, ya que gracias a esta se pudo realizar un trabajo bien hecho y que cumpliera con los objetivos. Por otro lado resaltaría la responsabilidad, ya que cada quien realizó lo que debía, permitiendo así elaborar un trabajo completo. Y por último resaltaría la organización, ya que debido a esta el trabajo realizado se hizo con armonía y se evitaron problemas para entregar el trabajo en tiempo y forma.</p>
						</li>
						<li>III. ¿Qué experiencia y aprendizaje te dejó el desarrollo de este proyecto en grupo con respecto al contenido temático y a las aplicaciones utilizadas para su finalidad?
							<p>Este proyecto me permitió comprender mejor los conceptos vistos en clase, ya que sirvió como un repaso de ellos. De igual forma, considero que un proyecto como este puede resultar útil si en un futuro quiero recordar los conocimientos aprendidos durante el semestre. Asimismo, este proyecto nos ayudó a poner en práctica algunos conocimientos, como la administración, para poder realizar un buen trabajo que cumpliera con los objetivos establecidos en la rúbrica.</p>
						</li>
						<li>IV. Establece aportaciones que ayuden a mejorar el contenido y desarrollo de este proyecto para futuras generaciones.
							<p>Considero que una de las aportaciones para mejorar el desarrollo del proyecto sería hacer uso de herramientas que sean fáciles de utilizar o no sea muy difícil aprender a utilizar, ya que de esta forma se daría más tiempo de trabajo al contenido del proyecto y no tanto al diseño de él. En cuanto al contenido, se podría mejorar si se utilizan más ejemplos para comprender los temas, y no sólo contenido visto durante clase.</p>
						</li>
					</ol>
				</div>
			</li>
			<li>
				<div class="collapsible-header">Roberto Javier Huerta González</div>
				<div class="collapsible-body"><span>
					<ol>
						<li>I. ¿Cuál consideras que es la razón por las cuales muchas empresas en México no llegan a ser exitosas?
							<p>Hay varios factores, y no sólo se da en México, también en otros países. El primero es el miedo al fracaso, las personas no intentan emprender por esto, y si fracasan una vez, no lo vuelven a intentar. El segundo es la falta de apoyo, ya sea por el gobierno u otras instituciones, ya que ha habido reducción de inversión en ciencia y tecnología y otras áreas en donde se puede innovar, el año pasado varios millones de dólares fueron reducidos del presupuesto anual al Conacyt. Por último, constancia, muchos empresarios piensan que inmediatamente de comenzar su empresa van a recibir utilidades exorbitantes, sin embargo, esto no es cierto y para llegar a ese punto hace falta esfuerzo y dedicación.</p>
						</li>
						<li>II. ¿Qué enseñanza te dejó este artículo y cómo lo pondrías en práctica en tú vida profesional?
							<p>El artículo deja un mensaje, que no es cierto que el emprendimiento y la innovación están reservados para países primermundistas, sino que cualquiera puede emprender, sólo hace falta un poco de creatividad, pasión y dedicación por lo que se quiere lograr. Y lo pondría en práctica en mi vida profesional, innovando y emprendiendo y no temer al fracaso.</p>
						</li>
						<li>III. Suponiendo que el día de hoy eres un emprendedor, ¿Cuál sería el objetivo principal de tu empresa y su visión en un corto plazo?
							<p>Si hiciera mi empresa sería de desarrollo de software, tal vez incluyendo videojuegos pues es algo que quisiera lograr en un futuro. El objetivo principal de mi empresa sería dejar siempre al cliente satisfecho con el producto que se le entrega, y siempre innovar, crear cosas diferentes. Mi visión a corto plazo sería una empresa reconocida localmente, a nivel estado, por la creación de software innovado y eventualmente crecer hasta llegar a otros países.</p>
						</li>
					</ol>
					<p>Ahora de los temas vistos en la unidad y del trabajo en equipo colaborativo realizado a través del desarrollo de este proyecto quisiera que me compartieras por favor tu respuesta a las siguientes preguntas: </p>
					<ol>
						<li>I. ¿Cuál de los temas vistos en el transcurso de la asignatura te generó más interés y por qué?
							<p>Principalmente el último de Tecnologías de la Información ya que al ser ITIC, veo un área de oportunidad grande en donde desarrolladores como yo podemos innovar con herramientas nuevas que faciliten el trabajo y la administración de las empresas.</p>
						</li>
						<li>II. ¿Qué fortalezas puedes resaltar del trabajo en equipo realizado en el desarrollo del proyecto?
							<p>Ya que los dos somos ITICs y sabemos de desarrollo web, decidimos realizar el proyecto de esta manera, siempre estuvimos apoyándonos, trabajando juntos e investigando cosas que no sabíamos cómo se realizaban. Asimismo, ayudó la pasión que tenemos por la programación.</p>
						</li>
						<li>III. ¿Qué experiencia y aprendizaje te dejó el desarrollo de este proyecto en grupo con respecto al contenido temático y a las aplicaciones utilizadas para su finalidad?
							<p>En cuanto al contenido temático pudimos ampliarlo ya que buscamos en diferentes fuentes, además del libro del curso y de las presentaciones en clase. Además, sirvió como repaso y los temas están más claros aún. En cuanto a las aplicaciones, aprendimos a utilizar Materialize, que en pocas palabras es lo que da estilo al sitio web, asimismo, repasamos conocimientos previos de Ember, y heroku.</p>
						</li>
						<li>IV. Establece aportaciones que ayuden a mejorar el contenido y desarrollo de este proyecto para futuras generaciones.
							<p>El contenido de este proyecto es excelente, ya que es preciso y claro, y si se incluyera todo el temario en este proyecto creo que no habría tiempo suficiente para realizarlo. Me gustó bastante, tal vez porque soy ITIC y me gusta el desarrollo web, el investigar y aprender cosas nuevas me agradó bastante, sin embargo, pienso que para muchos debió ser tedioso el utilizar herramientas como Google Sites y Blogger puesto que no están familiarizados con esto. A pesar de eso creo que está bien pues fomenta el que los estudiantes investiguen y aprendan a hacer cosas nuevas.</p>
						</li>
					</ol>
				</span></div>
			</li>
		{{/materialize-collapsible}}
	</div>
</div>