<div class="row">
	{{#head-info}}
	    <h4>
	        Unidad 3. La Administración e innovación en los modelos de negocio
	    </h4>
	{{/head-info}}
</div>	
<div class="row">
	<div class="col s8 offset-s2">
		{{#materialize-scrollSpy id="impacto"}}
			<h4 class="subWo">Modelo de Negocios Orientado al Impacto Social</h4>
			<h5>Principios morales que rigen las decisiones en las empresas</h5>
			<div class="col s10 offset-s1">
				<div class="card">
			    	<div class="card-content">
			      		<div id="tabES">
			      			<p>Normas que rigen el trato entre los miembros de una sociedad en lo que a equidad se refiere, justicia, pobreza  y los derechos del individuo.</p>
			      		</div>
			      	<div id="tabEO">
			      		<p>Normas que rigen el comportamiento de los miembros de una profesión , comercio u oficio cuando realizan sus actividades laborales.</p>
			      	</div>
			      	<div id="tabEI">
			      		<p>Normas y valores de las personas que determinan como ven sus responsabilidades ante los demás y como deben actuar en situaciones en las que están en juego sus propios intereses.</p>
			      	</div>
			      	<div id="tabEOrg">
			      		<p>Prácticas e ideas rectoras a través de las cuales una compañía y sus administradores contemplan su responsabilidad hacia sus grupos de interesados.</p>
			      	</div>
				    </div>
				    <div class="card-tabs blue darken-3">
				      	{{#materialize-tab-card}}
				        	<li class="tab"><a href="#tabES">Ética Social</a></li>
				        	<li class="tab"><a href="#tabEO">Ética Ocupacional</a></li>
				        	<li class="tab"><a href="#tabEI">Ética Individual</a></li>
				        	<li class="tab"><a href="#tabEOrg">Ética Organizacional</a></li>
				      	{{/materialize-tab-card}}
				    </div>
			  	</div>
			</div>
			<div class="col s12">
				<hr>
			</div>
			<div class="row">
				<div class="col s6">
					<h5>Filosofías para la toma de decisiones en las empresas</h5>
					{{#materialize-collapsible}}
						<li>
					    	<div class="collapsible-header">Enfoque Utilitario</div>
					    	<div class="collapsible-body"><span>Una decisión ética es la que produce el mayor bien para el mayor número de personas.</span></div>
					    </li>
					    <li>
					    	<div class="collapsible-header">Enfoque del Individualismo</div>
					    	<div class="collapsible-body"><span>Una decisión ética es la que promueve los mejores intereses del individuo a largo plazo.</span></div>
					    </li>
					    <li>
					    	<div class="collapsible-header">Enfoque de los Derechos Morales</div>
					    	<div class="collapsible-body"><span>Una decisión ética sostiene y defiende los derechos fundamentales y privilegios de los afectados.</span></div>
					    </li>
					    <li>
					    	<div class="collapsible-header">Enfoque de la Justicia</div>
					    	<div class="collapsible-body"><span>Una decisión ética distribuye los beneficios y perjuicios entre personas y grupos de manera justa, equitativa o imparcial.</span></div>
					    </li>
					{{/materialize-collapsible}} 
				</div>
				<div class="col s6">
					<h5>La relación entre la ética y las leyes</h5>
					{{#materialize-carousel}}
					    <div class="carousel-item light-green darken-2 white-text" href="#one!">
					      <h2>Ética</h2>
					      <p class="white-text">◦ Son reglas de conducta <br> ◦ Proviene de la conciencia <br> ◦ Es un código moral <br> ◦ No hay castigo si no se cumple</p>
					    </div>
					    <div class="carousel-item lime darken-2 white-text" href="#two!">
					      <h2>Leyes</h2>
					      <p class="white-text">◦ Son reglas establecidas por el gobierno <br> ◦ Se aplican por el gobierno <br> ◦ Regulan la convivencia dentro de una sociedad <br> ◦ Hay castigo si no se cumplen </p>
					    </div>
			  		{{/materialize-carousel}}
				</div>
				<div class="col s12">
					<hr>
				</div>
				<div class="col s6">
					<h5>El administrador y su apego a principios morales</h5>
					<table>
				    	<thead>
				        	<tr>
				        		<th>Tipo de administrador</th>
				            	<th>Características</th>
				        	</tr>
				        </thead>
				        <tbody>
				        	<tr>
				        		<td>N1 (Preconvencional)</td>
				            	<td>◦ Sigue reglas para evitar castigo <br> ◦ Tipo de liderazgo: autocrítico <br> ◦ Cumple tareas</td>
				        	</tr>
				        	<tr>
				        		<td>N2 (Convencional)</td>
				            	<td>◦ Está a la altura de las expectativas <br> ◦ Tipo de liderazgo: orientado al equipo y colaboración</td>
				        	</tr>
				        	<tr>
				            	<td>N3 (Posconvencional)</td>
				            	<td>◦ Va más allá <br> ◦ Tipo de liderazgo: servidor <br> ◦ Empleados con empowerment</td>
				        	</tr>
				    	</tbody>
				    </table>
				</div>
				<div class="col s6">
					<div class="card  cyan darken-3 hoverable">
            			<div class="card-content white-text">
              				<span class="card-title">Responsabilidad social</span>
              				<p>Obligación de la empresa de tomar decisiones o emprender acciones que mejoren a la sociedad y a la organización.</p>
           				</div>
          			</div>
				</div>
				<div class="col s6">
					<div class="card red accent-3 hoverable">
            			<div class="card-content white-text">
              				<span class="card-title">Grupo de interés</span>
              				<p>Personas y grupos que proveen a una compañía sus recursos productivos y que en consecuencia tienen un derecho y un interés en la compañía.</p>
           				</div>
          			</div>
				</div>
				<div class="col s12">
					<hr>
				</div>
				<div class="col s6">
					{{#materialize-boxed src="http://res.cloudinary.com/dwm4vv7pj/image/upload/v1493053957/wo2_zi5azb.png"}}
					{{/materialize-boxed}}
				</div>
				<div class="col s6">
					<h5>Criterios de Desempeño Social</h5>
					<div class="row">
						<div class="col s6">
							<div class="card lime darken-2 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Responsabilidad Económica</span>
	              					<p>Ser rentable</p>
	           					</div>
	          				</div>
						</div>
						<div class="col s6">
							<div class="card lime darken-2 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Responsabilidad Legal</span>
	              					<p>Acatar la ley</p>
	           					</div>
	          				</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class="card lime darken-2 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Responsabilidad Ética</span>
	              					<p>Ser ético</p>
	           					</div>
	          				</div>
						</div>
						<div class="col s6">
							<div class="card lime darken-2 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Responsabilidad Discrecional</span>
	              					<p>Ayudar a la comunidad</p>
	           					</div>
	          				</div>
						</div>
					</div>
				</div>
			</div>
		{{/materialize-scrollSpy}}
		{{#materialize-scrollSpy id="diversidad"}}
			<h4 class="subWo">Modelo de Negocios Orientado al Desarrollo de un Ambiente Multicultural</h4>
			<div class="row">
				<div class="col s6">
					<div class="card hoverable">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="http://res.cloudinary.com/dwm4vv7pj/image/upload/v1493254723/DIVERSIDAD-BLOG_ry4kgi.png">
					    </div>
					    <div class="card-content">
					      	<span class="card-title activator grey-text text-darken-4">
				    			¿Qué es diversidad?<i class="material-icons right">more_vert</i>
				    		</span>
					    </div>
					    <div class="card-reveal">
					      	<span class="card-title grey-text text-darken-4">
				    			¿Qué es diversidad?<i class="material-icons right">close</i>
				    		</span>
					      <p>Diferencias entre las personas por cualquier característica con que se distinga a las personas: <br>
					      	◦ Edad <br>
					      	◦ Género <br>
					      	◦ Raza <br>
					      	◦ Etnia <br>
					      	◦ Religión <br>
					      	◦ Preferencias sexuales <br>
					      	◦ Origen socioeconómico <br>
					      	◦ Capacidades o discapacidades <br>
					      	◦ Escolaridad <br>
					      	◦ Experiencia <br>
					      	◦ Aspecto <br>
					      </p>
					    </div>
					</div>
				</div>
				<div class="col s6">
					<h5>Conceptos de Diversidad</h5>
					<div class="row">
						<div class="col s6">
							<div class="card cyan darken-3 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Etnocentrismo</span>
	              					<p>Creencia que un grupo o subcultura es superior a otro</p>
	           					</div>
	          				</div>
						</div>
						<div class="col s6">
							<div class="card cyan darken-3 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Monocultura</span>
	              					<p>Sólo se acepta una forma de hacer las cosas</p>
	           					</div>
	          				</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class="card cyan darken-3 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Etnorrelativismo</span>
	              					<p>Los grupos o subculturas son iguales</p>
	           					</div>
	          				</div>
						</div>
						<div class="col s6">
							<div class="card cyan darken-3 hoverable">
	            				<div class="card-content white-text">
	              					<span class="card-title">Pluralismo</span>
	              					<p>Hay varias culturas o subculturas</p>
	           					</div>
	          				</div>
						</div>
					</div>			
				</div>
			</div>	
			<div class="col s12">
				<hr>
			</div>
			<div class="row">
				<h5 class="center">Presencia multicultural en la fuerza de trabajo</h5>
				<div class="col s6">
					<div class="card green darken-2 hoverable">
		            	<div class="card-content white-text">
		              		<span class="card-title">Beneficios</span>
		              		<p>◦ Enriquece el clima laboral<br> ◦ La compañía es más rentable <br> ◦ Mejor servicio al cliente<br>◦ Expansión del mercado<br> ◦ Mejora imagen de la compáñía </p>
		            	</div>
		      		</div>
				</div>
				<div class="col s6">
					<div class="video-container"> 
						<iframe width="560" height="315" src="https://www.youtube.com/embed/aUWFEy0ez5U" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col s12">
				<hr>
			</div>
			<div class="row">
				<div class="col s10 offset-s1">
					<h5 class="center">Roles del administrador y el manejo de la diversidad</h5>
					<table class="highlight">
				    	<thead>
				        	<tr>
				        		<th>Rol del administrador</th>
				            	<th class="center">Papel</th>
				            	<th class="center">Ejemplo</th>
				        	</tr>
				        </thead>
				        <tbody>
				        	<tr>
				        		<td>Trato Personal</td>
				            	<td>Figura Emblemática</td>
				            	<td>Comunica que el buen manejo de la diversidad es una meta y un objetivo valorados</td>
				        	</tr>
				        	<tr>
				        		<td></td>
				            	<td>Líder</td>
				            	<td>Actúa como modelo e instituyen normas y procedimientos para que los miembros diversos reciban un trato equitativo</td>
				        	</tr>
				        	<tr  class="border">
				        		<td></td>
				            	<td>Enlace</td>
				            	<td>Faculta a los individuos diversos para que coordinen sus esfuerzos y cooperen unos con otros</td>
				        	</tr>
				        	<tr>
				        		<td>Información</td>
				            	<td>Supervisor</td>
				            	<td>Evelúa en qué medida los empleados diversos reciben un trato justo</td>
				        	</tr>
				        	<tr>
				        		<td></td>
				            	<td>Difusor</td>
				            	<td>Informa a los empleados sobre normas e iniciativas y sobre la intolerancia de la discriminación</td>
				        	</tr>
				        	<tr  class="border">
				        		<td></td>
				            	<td>Vocero</td>
				            	<td>Apoya iniciativas de diversidad en toda la comunidad y habla a los grupos diversos para interesarlos en las oportunidades de hacer carrera</td>
				        	</tr>
				        	<tr>
				        		<td>Decisión</td>
				            	<td>Emprendedor</td>
				            	<td>Dedica recursos a encontrar mejores formas de admimistrar la diversidad y eliminar prejuicios y discriminación</td>
				        	</tr>
				        	<tr>
				        		<td></td>
				            	<td>Manejador de Contingencias</td>
				            	<td>Actúa rápidamente para corregir desigualdades y detener las conductas discriminatorias</td>
				        	</tr>
				        	<tr>
				        		<td></td>
				            	<td>Distribuidor de recursos</td>
				            	<td>Asigna recursos para apoyar y alentar la administración eficaz de la diversidad</td>
				        	</tr>
				        	<tr>
				        		<td></td>
				            	<td>Negociador</td>
				            	<td>Trabaja con organizaciones (provedores) y grupos (sindicatos) para respaldar y fomentar la administración eficaz de la diversidad</td>
				        	</tr>

				    	</tbody>
				    </table>
				</div>
			</div>
		{{/materialize-scrollSpy}}
		{{#materialize-scrollSpy id="global"}}
			<h4 class="subWo">Modelo de Negocios Orientado al Desarrollo de un Ambiente Globalizado</h4>
			<div class="row">
				<div class="col s6">
				<h5>Fuerzas del Ambiente Organizacional</h5>
					{{#materialize-collapsible}}
					    <li>
					    	<div class="collapsible-header">Ambiente Específico</div>
					    	<div class="collapsible-body">Fuerzas de las partes interesadas externas a la organización que pueden afectar a la capacidad de la organización en asegurar recursos.</div>
					    </li>
					    <li>
					      	<div class="collapsible-header">Ambiente General</div>
					      	<div class="collapsible-body"><span>Fuerzas que conforman el ambiente especifico y que afectan la capacidad de todas las organizaciones.</span>
					      	<a class="waves-effect waves-light btn right" href="#fuerzas">Fuerzas</a>
			      			{{#materialize-modal-fixed-footer id="fuerzas"}}
					    	<div class="modal-content">
						    	<h5>Fuerzas</h5>
						   		<p class="subWa">Económicas</p>	
						    	<p>Determinan tanto el precio de los insumos como el nivel de la demanda.</p>
							    <p class="subWa">Tecnológicas</p>	
							    <p>Pueden proporcionar nuevas técnicas de producción o mejorar el procesamiento de la información.</p>
							    <p class="subWa">Políticas y medio ambiente</p>	
						    	<p>Fuerzas de las partes interesadas externas a la organización que pueden afectar a la capacidad de la organización en asegurar recursos.</p>
							    <p class="subWa">Demográficas, culturales y sociales</p>	
							    <p>Fuerzas que conforman el ambiente especifico y que afectan la capacidad de todas las organizaciones.</p>
					   		</div>
					    	<div class="modal-footer">
					      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
					    	</div>
							{{/materialize-modal-fixed-footer}}</div>
					    </li>	    
					{{/materialize-collapsible}}
				
				</div>
				<div class="col s6">
					<h5>Tipos de Ambientes</h5>
					{{#materialize-carousel}}
					    <div class="carousel-item red accent-3 white-text" href="#one!">
					     	<h2>Explotador</h2>
					        <p class="white-text">◦ Se basa en el temor y las amenazas <br> ◦ La comunicación es desde arriba y hacia abajo <br> ◦ Distanciamiento entre el superior y el subordinado <br> ◦ Las decisiones se toman en la cúspide de la organización</p>
					    </div>
					    <div class="carousel-item red accent-3 white-text" href="#two!">
						    <h2>Paternalista</h2>
						    <p class="white-text">◦ Cumplimiento a través de las recompensas <br> ◦ Actitud de desubordinación hacia superiores <br> ◦ La información fluye generalmente de arriba hacia abajo <br> ◦ Las decisiones más importantes se toman en la cúspide</p>
					    </div>
					    <div class="carousel-item cyan darken-3 white-text" href="#three!">
					     	<h2>Consultativo</h2>
					        <p class="white-text">◦ Cumplimiento como consecuencia de las recompensas <br> ◦ Hay comunicación <br>◦ Los subordinados pueden decidir sobre aspectos de su trabajo</p>
					    </div>
					    <div class="carousel-item cyan darken-3 white-text" href="#four!">
						    <h2>Participación en grupo</h2>
						    <p class="white-text">◦  Hay recompensas económicas <br> ◦ Hay un sistema de participación grupal <br> ◦ Se promueve el involucramiento del personal <br> ◦ Se promueve el desarrollo de nuevas metodologías y procesos <br> ◦ La comunicación fluye hacia todos lados <br> ◦ Los superiores y subordinados están muy próximos entre sí <br> ◦ La toma de decisiones se da a través de procesos grupales</p>
					    </div>
			  		{{/materialize-carousel}}
				</div>
			</div>
		{{/materialize-scrollSpy}}
		{{#materialize-scrollSpy id="proceso"}}
			<h4 class="subWo">Modelo de Negocios Orientado a la Generación de Procesos</h4>
			<h5 class="center">La administración estratégica de la cadena de valor</h5>
			<div class="row">
				<div class="col s12">
		      		<div class="card">
					    <div class="card-content">
					      <h5>Cadena de Valor</h5>
					      <p>Conjunto de actividades y funciones entrelazadas que se realizan internamente.</p>
					    </div>
					    <div class="card-tabs blue darken-3">
		    				{{#materialize-tab-card}}
		    					<li class="tab"><a href="#ventaja">Ventaja Competitiva</a></li> 
		    					<li class="tab"><a href="#actividad">Actividad de Valor</a></li> 
						        <li class="tab"><a href="#recursos">Recursos</a></li>
						        <li class="tab"><a href="#sistema">Sistema de Valor</a></li>
							{{/materialize-tab-card}}
					    </div>
					    <div class="card-content grey lighten-4">
					      <div id="ventaja">◦ De costos: ofrecer el costo mínimo <br>◦ De valor: ofrecer un producto único </div>
					      <div id="actividad">Determina la contribución de necesidades del comprador</div>
					      <div id="recursos">◦ Físicos <br>◦ Intelectual <br>◦ Humano <br>◦ Financiero</div>
					      <div id="sistema">◦ De proveedores: crean / aportan abastecimientos escenciales <br>◦ De los canales: mecanismos de entrega a cliente <br>◦ De los compradores: beneficios percibidos por el cliente</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 center"> 
					{{#materialize-boxed src="http://www.claseejecutiva.com/wp-content/uploads/2011/03/Figura-15.gif"}}
					{{/materialize-boxed}}
				</div>
			</div>
		{{/materialize-scrollSpy}}	
	</div>
	<div class="col s2 wa valign-wrapper">
		<ul class="section table-of-contents fixed">
			<li><a href="#impacto">Impacto Social</a></li>
			<li><a href="#diversidad">Ambiente Multicultural</a></li>
			<li><a href="#global">Ambiente Globalizado</a></li>
			<li><a href="#proceso">Generación de Procesos</a></li>
		</ul>
	</div>
</div>
<!--http://preguntasresueltas.com/que-es-el-ambiente-organizacional
http://www.theodinstitute.org/joomla/que-dicen-los-expertos-en-empresas-y-do/10-autores/164-likert-rensis.html/-->