<div class="row">
	<header>
		{{side-nav}}
	</header>
	<div id="info" class="col s10 offset-s2 cyan darken-3">
	    <h4>
	        Unidad 1
	    </h4>
	</div>
	<div class="col s10 offset-s2">
		<div class="col s5">
		    <div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="http://www.monografias.com/trabajos97/sobre-la-administracion-de-empresas/image006.jpg">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">
		    			¿Qué es administración?<i class="material-icons right">more_vert</i>
		    		</span>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">
		    			¿Qué es administración?<i class="material-icons right">close</i>
		    		</span>
			      <p>Administración es es el conjunto de actividades que permiten determinar y alcanzar objetivos de manera eficaz, eficiente y a tiempo.</p>
			    </div>
			</div>
		</div>
		<div class="col s6">
			<h5>Funciones de la Administración</h5>
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			    	<div class="collapsible-header">Planeación</div>
			    	<div class="collapsible-body">En esta etapa se realiza un análisis del entorno, se establecen la misión y la visión, y se selecciona la estrategia que permite alcanzar los objetivos establecidos. <br>
						Habilidades gerenciales: <br>
						◦	Conceptuales <br>
						◦	Humanas <br>
						◦	Técnicas
					</div>
			    </li>
			    <li>
			      <div class="collapsible-header">Organización</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header">Dirección</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header">Control</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			    </li>
			</ul>
		</div>

	</div>
</div>	