<div class="row">
	<header>
		
	</header>
	{{#head-info}}
	    <h4>
	        Unidad 2. La Innovación como factor clave de éxito.
	    </h4>
	{{/head-info}}
	<div class="col s10 offset-s2">
		<h5>Innovación VS Creatividad</h5>
		<div class="col s6">
			<div class="card horizontal">
				<div class="card-image">
				    <img src="http://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
				    <div class="card-content">
				        <p class="subWa">Innovación</p>
				        <p>Implementar la creatividad para crear o modificar un producto/servicio e introducirlo en el mercado.</p>
				    </div>
			   	</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card horizontal">
				<div class="card-image">
				    <img src="http://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
				    <div class="card-content">
				        <p class="subWa">Creatividad</p>
				        <p>Capacidad de crear nuevas ideas.</p>
				    </div>
			   	</div>
			</div>
		</div>
	<hr>
	</div>
</div>	
<div class="row">
    <div class="col s10 offset-s2">
    	<div class="col s6">
    		<div class="card blue-grey darken-1">
            	<div class="card-content white-text">
              		<span class="card-title">Cambio Organizacional</span>
              		<p>Es la adaptación de una empresa a su entorno, al cliente y a la misma empresa.</p>
            	</div>
      		</div>
    		<div class="card">
			    <div class="card-content">
			      <h5>Desarrollo organizacional</h5>
			      <p>Es un proceso que permite a la empresa mejorar su desempeño y adaptarse al entorno.</p>
			    </div>
			    <div class="card-tabs">
			      <ul class="tabs tabs-fixed-width">
			        <li class="tab"><a href="#test4">Actividades</a></li>
			        <li class="tab"><a href="#test5">Pasos</a></li>
			      </ul>
			    </div>
			    <div class="card-content grey lighten-4">
			      <div id="test4">◦Formación de equipos <br>◦Estudios de retroalimentación <br>◦Intervención de grupos grandes</div>
			      <div id="test5">◦Descongelar <br>◦Cambiar <br>◦Recongelar</div>
			    </div>
			</div>
    	</div>
    	<div class="col s6">
    		<h5>Estrategias de Innovación</h5>
    		<ul class="collapsible" data-collapsible="accordion">
    		    <li>
    		    	<div class="collapsible-header">Introducción de nuevos productos</div>
    		    	<div class="collapsible-body">Cambios en los productos / servicios que ofrece la empresa. <br>Se adapta a los cambios en el mercado, tecnología y competencia.</div>
    		    </li>
    		    <li>
    		      <div class="collapsible-header">Cambios tecnológicos</div>
    		      <div class="collapsible-body">Es un cambio en la producción, para hacerla más eficiente.</div>
    		    </li>
    		    <li>
    		      <div class="collapsible-header">Cambios en las personas</div>
    		      <div class="collapsible-body"><span>Se ofrecen capacitaciones para mejorar las habilidades de liderazgo.</span></div>
    		    </li>
    		    <li>
    		      <div class="collapsible-header">Cambiar la cultura</div>
    		      <div class="collapsible-body"><span>Hay cambios en la cultura organizacional de la empresa (valores, normas, mentalidad).</span></div>
    		    </li>
    		</ul>
    	</div>
  	</div>
</div>