<div class="row">
	<header>
		
	</header>
	{{#head-info}}
	    <h4>
	        Unidad 2. La Innovación como factor clave de éxito.
	    </h4>
	{{/head-info}}
	<div class="col s10 offset-s2">
		<h5>Innovación VS Creatividad</h5>
		<div class="col s6">
			<div class="card horizontal hoverable">
				<div class="card-image">
				    <img src="http://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
				    <div class="card-content">
				        <p class="subWa">Innovación</p>
				        <p>Implementar la creatividad para crear o modificar un producto/servicio e introducirlo en el mercado. <br><br>
				        <i>Cuando se innova, se corre el riesgo de cometer errores. Es mejor admitirlo rápidamente y continuar con otra innovación.-Steve Jobs.</i>
				        </p>
				    </div>
			   	</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card horizontal hoverable">
				<div class="card-image">
				    <img src="http://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
				    <div class="card-content">
				        <p class="subWa">Creatividad</p>
				        <p>Capacidad de crear nuevas ideas.</p>
				    </div>
			   	</div>
			</div>
		</div>
	<hr>
	</div>
</div>	
<div class="row">
    <div class="col s10 offset-s2">
    	<div class="col s6">
    		<div class="card red accent-3 hoverable">
            	<div class="card-content white-text">
              		<span class="card-title">Cambio Organizacional</span>
              		<p>Es la adaptación de una empresa a su entorno, al cliente y a la misma empresa.</p>
            	</div>
      		</div>
      		<div class="card">
			    <div class="card-content">
			      <h5>Desarrollo organizacional</h5>
			      <p>Es un proceso que permite a la empresa mejorar su desempeño y adaptarse al entorno.</p>
			    </div>
			    <div class="card-tabs blue darken-3">
    				{{#materialize-tab-card}} 
				        <li class="tab"><a href="#test4">Actividades</a></li>
				        <li class="tab"><a href="#test5">Pasos</a></li>
					{{/materialize-tab-card}}
			    </div>
			    <div class="card-content grey lighten-4">
			      <div id="test4">◦ Formación de equipos <br>◦ Estudios de retroalimentación <br>◦ Intervención de grupos grandes</div>
			      <div id="test5">◦ Descongelar <br>◦ Cambiar <br>◦ Recongelar</div>
			    </div>
			</div>
    	</div>
    	<div class="col s6">
    		<h5>Estrategias de Innovación</h5>
    		{{#materialize-collapsible}}
    		    <li>
    		    	<div class="collapsible-header">Introducción de nuevos productos</div>
    		    	<div class="collapsible-body">Cambios en los productos / servicios que ofrece la empresa. <br>Se adapta a los cambios en el mercado, tecnología y competencia.</div>
    		    </li>
    		    <li>
    		      <div class="collapsible-header">Cambios tecnológicos</div>
    		      <div class="collapsible-body"><p>Es un cambio en la producción, para hacerla más eficiente. <a class="waves-effect waves-light btn right" href="#estrategias">Estrategias</a></p>
			      	{{#materialize-modal-fixed-footer id="estrategias"}}
					    <div class="modal-content">
						    <h5>Estrategias Innovadoras para Nuevos Productos y Tecnologías</h5>
						    <p>◦ De exploración: se fomenta la creatividad <br> ◦ De cooperación: se da la cooperación interna (modelo de vinculación horizontal) y externa (outsourcing) <br> ◦ De desarrollo emprendedor: se está al tanto del desarrollo de nuevas ideas y su implementación </p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
					    </div>
					{{/materialize-modal-fixed-footer}}	
    		      </div>
    		    </li>
    		    <li>
    		      <div class="collapsible-header">Cambios en las personas</div>
    		      <div class="collapsible-body"><span>Se ofrecen capacitaciones para mejorar las habilidades de liderazgo.</span></div>
    		    </li>
    		    <li>
    		      <div class="collapsible-header">Cambiar la cultura</div>
    		      <div class="collapsible-body"><span>Hay cambios en la cultura organizacional de la empresa (valores, normas, mentalidad).</span></div>
    		    </li>
    		{{/materialize-collapsible}}
    	</div>
  	</div>
</div>
<div class="row valign-wrapper">
	<div class="col s10 offset-s2">
		<hr>
		<div class="col s6">
		    <div class="card hoverable">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="https://www.bbva.com/es/wp-content/uploads/2016/03/bbvaopenmin_innovacion-en-la-estrategia-empresarial-1920x0-c-f.jpg">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">
		    			Principios Fundamentales de la Innovación<i class="material-icons right">more_vert</i>
		    		</span>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">
		    			Principios Fundamentales de la Innovación<i class="material-icons right">close</i>
		    		</span>
			      	<p>• Empieza con el análisis de oportunidades: identificar las necesidades de los clientes <br> • No es solo un proceso conceptual, también es un proceso de percepción: pensar como el usuario <br> • Es simple y focalizada: es un proceso acumulativo de mejoras <br> • Las innovaciones empiezan pequeñas: la curva de aprendizaje <br> • Su finalidad debe ser lograr una posición de liderazgo <br> • Debe estar anclada en los puntos fuertes de la empresa <br> • Se debe innovar para hoy <br> • Requiere de un trabajo perseverante <br> • No debe obligar a los usuarios a “ser muy listos”</p>
			    </div>
			</div>
		</div>
		<div class="col s6">
			<h5>Océanos Rojos VS Océanos Azules</h5>
			{{#materialize-carousel}}
			    <div class="carousel-item red white-text" href="#one!">
			      <h2>Océanos rojos</h2>
			      <p class="white-text">◦ Mercado establecido <br> ◦ Hay competencia <br> ◦ Bajo costo </p>
			    </div>
			    <div class="carousel-item blue white-text" href="#two!">
			      <h2>Océanos azules</h2>
			      <p class="white-text">◦ Creación de mercados <br> ◦ No hay competencia <br> ◦ Costo considerable </p>
			    </div>
	  		{{/materialize-carousel}}
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col s10 offset-s2">
		<hr>
		<h5 class="center">Implementando la Innovación como Estrategia</h5>
		<div class="col s6">
			<div class="card green darken-2 hoverable">
            	<div class="card-content white-text">
              		<span class="card-title">Tácticas</span>
              		<p>◦ Comunicación y educación <br> ◦ Participación <br> ◦ Negociación <br>◦ Coerción <br> ◦ Apoyo de alta gerencia </p>
            	</div>
      		</div>
		</div>
		<div class="col s6">
			<div class="card  cyan darken-3 hoverable">
            	<div class="card-content white-text">
              		<span class="card-title">Resistencia al cambio</span>
              		<p>◦ Interés propio <br>◦ Falta de comprensión y confianza <br>◦ Incertidumbre <br> ◦ Evaluaciones  y metas diferentes </p>
            	</div>
      		</div>
		</div>
	</div>
</div>

<!-- 
https://www.lifeder.com/frases-de-administracion/

-->