<div class="row">
	{{#head-info}}
	    <h4>
	        Unidad 4. La Tecnología de información como factor clave de éxito.
	    </h4>
	{{/head-info}}
</div>
<div class="row">
	<div class="col s10 offset-s2">
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<h5>Tecnologías de Información y Comunicación</h5>
					<p>Las TIC son herramientas teórico conceptuales, soportes y canales que procesan, almacenan, sintetizan, recuperan y presentan información de la forma más variada.</p>
				</div>
				<div class="card-tabs blue darken-3">
					{{#materialize-tab-card}}
						<li class="tab"><a href="#benef">Beneficios</a></li>
						<li class="tab"><a href="#caract">Características</a></li>
					{{/materialize-tab-card}}
				</div>
				<div class="card-content grey lighten-4">
					<div id="benef">◦ Fácil acceso a todo tipo de información <br>◦ Instrumentos para todo tipo de proceso de datos <br>◦ Canales de comunicación <br>◦ Almacenamiento de grandes cantidades de información en pequeños soportes de fácil transporte <br>◦ Automatización de tareas <br>◦ Interactividad <br>◦ Instrumento cognitivo que potencia nuestras capacidades mentales y permite el desarrollo de nuevas maneras de pensar</div>
					<div id="caract">◦ Inmaterialidad <br>◦ Interactividad <br>◦ Interconexión <br>◦ Instantaneidad <br>◦ Elevados parámetros de calidad de imagen y sonido <br>◦ Digitalización <br>◦ Mayor Influencia sobre los procesos que sobre los productos <br>◦ Penetración en todos los sectores <br>◦ Innovación <br>◦ Tendencia hacia automatización <br>◦ Diversidad</div>
				</div>
			</div>
		</div>
		<div class="col s6">
			<h5>Implicaciones de las TI para los Administradores</h5>
			{{#materialize-boxed src="http://res.cloudinary.com/dwm4vv7pj/image/upload/v1493236118/waa_taanor.png"}}
			{{/materialize-boxed}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m10 offset-m2">
		<hr>
		<h5 class="center">Revolución de las Tecnologías de Información</h5>
		<div class="col s6">
			<div class="card deep-purple darken-1 hoverable">
            	<div class="card-content white-text">
              		<span class="card-title">Definición</span>
              		<p>La revolución tecnológica actual no es la centralidad del conocimiento y la información, sino la aplicación de ese conocimiento e información a la generación de conocimiento y los dispositivos de procesamiento/ comunicación de la información, en un circuito de retroalimentación acumulativa que se da entre la innovación y los usos de la innovación.</p>
            	</div>
      		</div>
      		{{#materialize-collapsible}}
				    <li>
				    	<div class="collapsible-header">Etapas</div>
				    	<div class="collapsible-body">◦ La automatización de tareas <br>◦ La experimentación de usos <br>◦ La reconfiguración de las aplicaciones</div>
				    </li>
				    <li>
				      <div class="collapsible-header">Características</div>
				      <div class="collapsible-body"><span>◦ Las TIC cambian con rapidez <br>◦ Las organizaciones quieren seguir siendo competitivas <br>◦ Las empresas adoptan nuevas tecnologías y enfoques para mejorar sus operaciones <br>◦ Muchas empresas combinan las nuevas aplicaciones de las tecnologías de información con los sistemas operativos y de administración de la información existentes.</span></div>
				    </li>    
				{{/materialize-collapsible}}
		</div>
		<div class="col s6">
			Aquí va el video
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m10 offset-m2">
		<hr>
		<h5 class="center">Tipos de Sistemas de Información Administrativa</h5>
		<div class="col s6">
			Aquí va otro video
		</div>
		<div class="col s6">
			{{#materialize-carousel}}
			    <div class="carousel-item red accent-3 white-text" href="#one!">
			     	<h2>Sistema de Procesamiento de Transacciones</h2>
			        <p class="white-text">La SPT graban y procesan los datos que resultan de negocios, que incluyen datos como ventas a clientes, compras a proveedores, cambios en el inventario y salarios de los empleados</p>
			    </div>
			    <div class="carousel-item light-green darken-2 white-text" href="#two!">
				    <h2>Sistema de Control de Procesos</h2>
				    <p class="white-text">El Sistema de Control de Procesos se utiliza para obtener información sobre la cantidad y calidad de sus actividades de producción</p>
			    </div>
			    <div class="carousel-item cyan darken-3 white-text" href="#three!">
			     	<h2>Sistema de Automatización de Oficinas</h2>
			        <p class="white-text">Sistemas que combinan el Hardware y Software modernos para manejar las tareas de edición y distribucción de la información</p>
			    </div>
			    <div class="carousel-item lime darken-2 white-text" href="#four!">
				    <h2>Sistema de Información Gerencial</h2>
				    <p class="white-text">Sistema computarizado que proporciona información y apoyo para una eficaz toma de decisiones gerenciales</p>
			    </div>
	  		{{/materialize-carousel}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m10 offset-m2">
		<hr>
		<h5 class="center">Efecto en la Organización de los Sistemas de Información y la Tecnología</h5>
		<div class="col s6">
		    <div class="card hoverable">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="http://res.cloudinary.com/dwm4vv7pj/image/upload/v1493254954/las-tics_ggcxff.jpg">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">
		    			Efectos<i class="material-icons right">more_vert</i>
		    		</span>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">
		    			Efectos de las TICs en la organización<i class="material-icons right">close</i>
		    		</span>
			      <p>La eficiencia y la productividad son los principales efectos y soluciones que se consideran de interés en el ámbito empresarial que permiten facilitar la toma de decisiones y gestión de las compañías, como son: <br>
				      <ul class="browser-default">
				      	<li>Internet</li>
				      	<li>Intranet</li>
				      	<li>ERP (Enterprise Resource Planning) que permiten rediseñar las prácticas de negocios</li>
				      	<li>Sistemas CRM (Customer Relationship Management) para administrar la relación con los clientes</li>
				      	<li>BI (Business Intelligence) para transformar y consolidar los datos de negocio en tiempo real </li>
				      	<li>El e-commerce para transacciones en compras online</li>
				      </ul>
			      </p>
			    </div>
			</div>
		</div>
		<div class="s12 m6">
		Video y así
		</div>
	</div>
</div>