<div class="row">
	{{#head-info}}
	    <h4>
	        Unidad 3. La Administración e innovación en los modelos de negocio
	    </h4>
	{{/head-info}}
	<div class="col s10 offset-s2">
		<h4>Modelo de Negocios Orientado al Impacto Social</h4> <br>
		<h5>Principios morales que rigen las decisiones en las empresas</h5>
		<div class="col s8 offset-s2">
			<div class="card">
			    <div class="card-content">
			      	<div id="tabES"><p>Normas que rigen el trato entre los miembros de una sociedad en lo que a equidad se refiere, justicia, pobreza  y los derechos del individuo.
					</p></div>
			      	<div id="tabEO"><p>Normas que rigen el comportamiento de los miembros de una profesión , comercio u oficio cuando realizan sus actividades laborales.
					</p></div>
			      	<div id="tabEI"><p>Normas y valores de las personas que determinan como ven sus responsabilidades ante los demás y como deben actuar en situaciones en las que están en juego sus propios intereses.</p></div>
			      	<div id="tabEOrg"><p>Prácticas e ideas rectoras a través de las cuales una compañía y sus administradores contemplan su responsabilidad hacia sus grupos de interesados.</p></div>
			    </div>
			    <div class="card-tabs">
			      	<ul class="tabs tabs-fixed-width cyan darken-2 tabs-transparent">
			        	<li class="tab"><a href="#tabES">Ética Social</a></li>
			        	<li class="tab"><a href="#tabEO">Ética Ocupacional</a></li>
			        	<li class="tab"><a href="#tabEI">Ética Individual</a></li>
			        	<li class="tab"><a href="#tabEOrg">Ética Organizacional</a></li>
			      	</ul>
			    </div>
		  	</div>
		</div>
	</div>
</div>	