<div class="row">
	{{#head-info}}
		<h4>
	        Unidad 1. La Innovación en los procesos de administración contemporánea. 
	    </h4>
	{{/head-info}}
	<div class="col s10 offset-s2">
		<div class="col s6">
		    <div class="card hoverable">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="http://www.monografias.com/trabajos97/sobre-la-administracion-de-empresas/image006.jpg">
			    </div>
			    <div class="card-content">
			      	<span class="card-title activator grey-text text-darken-4">
		    			¿Qué es administración?<i class="material-icons right">more_vert</i>
		    		</span>
			    </div>
			    <div class="card-reveal">
			      	<span class="card-title grey-text text-darken-4">
		    			¿Qué es administración?<i class="material-icons right">close</i>
		    		</span>
			      <p>Administración es es el conjunto de actividades que permiten determinar y alcanzar objetivos de manera eficaz, eficiente y a tiempo.</p>
			      <p class="subWa">Características de la administración</p>
			      <p>◦	Universalidad <br>◦	Valor instrumental <br>◦ Unidad temporal <br>◦ Amplitud de ejercicio <br>◦ Especificidad <br>◦ Interdisciplinariedad <br>◦ Flexibilidad</p>
			    </div>
			</div>
		</div>
		<div class="col s6">
			<h5>Funciones Administrativas</h5>
			{{#materialize-collapsible}}
			    <li>
			    	<div class="collapsible-header">Planeación</div>
			    	<div class="collapsible-body">En esta etapa se realiza un análisis del entorno, se establecen la misión y la visión, y se selecciona la estrategia que permite alcanzar los objetivos establecidos. <br>
			    	<i>¿Qué se quiere hacer? ¿Qué se va a hacer?</i>
					</div>
			    </li>
			    <li>
			      <div class="collapsible-header">Organización</div>
			      <div class="collapsible-body">En esta etapa se da la administración de los recursos humanos, es decir, se establecen las funciones que cada quien debe desempeñar. En esta etapa es importante la coordinación y el trabajo en equipo. <br>
			      <i>¿Cómo se va a hacer?</i> <a class="waves-effect waves-light btn right" href="#enfoques">Enfoques</a>
			      	{{#materialize-modal-fixed-footer id="enfoques"}}
					    <div class="modal-content">
						    <h5>Enfoques</h5>
						   	<p class="subWa">Funcional</p>	
						    <p>Se agrupan las actividades de acuerdo a la función que cumplen. <br> Ventajas: <br> ▪ Facilita supervisión <br> ▪ Promueve especialización <br> ▪ Fácil comprensión <br> ▪ Líneas de comunicación simple y claras <br> ▪	Simplifica la toma de decisiones <br> Desventajas: <br> ▪ Conflictos de interés entre áreas <br>▪ Coordinación más difícil <br> ▪ Se limita el desarrollo gerencial y la visión global de la empresa <br> ▪ El personal se identifica más con su departamento que con la empresa
</p>
						    <p class="subWa">Por procesos</p>	
						    <p>Se agrupan las actividades de acuerdo a un proceso o tipo de equipo.</p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
					    </div>
					{{/materialize-modal-fixed-footer}}					  
				</div>
			    </li>
			    <li>
			      <div class="collapsible-header">Dirección</div>
			      <div class="collapsible-body"><span>En esta etapa se da la toma de decisiones, así como la motivación y supervisión. En esta etapa es importante la comunicación efectiva, la cooperación y la participación. <br>
			      <i>Ver que se haga.</i> <a class="waves-effect waves-light btn right" href="#lider-visible">Líder visible</a>
			      	{{#materialize-modal id="lider-visible"}}
					    <div class="modal-content">
						    <h5>Características de un líder visible</h5>
						   	<p>▪ Asume riesgos <br> ▪ El personal se identifica con él <br> ▪ Pone a las personas antes que los negocios <br> ▪ Conserva la calma <br> ▪	Sabe cuándo regresar a los negocios <br> ▪ Dice la verdad </p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
					    </div>
					{{/materialize-modal}}
				  </span></div>
			    </li>
			    <li>
			      <div class="collapsible-header">Control</div>
			      <div class="collapsible-body"><span>En esta etapa se evalúa el desempeño de la empresa, se realiza una comparación de los objetivos establecidos en un principio con la situación actual. Para llevar a cabo esta etapa se da un proceso, que consta de cinco etapas: control, establecimiento de estándares, medición, corrección, y retroalimentación. <br>
			      <i>¿Cómo se ha realizado?</i></span></div>
			    </li>
			{{/materialize-collapsible}}
		</div>
	</div>
</div>	

<div class="row">
	<div class="col s10 offset-s2">
		<hr>	
		<h5 class="center">Habilidades para la aplicación de la administración</h5>
		<div class="col s4">
		    <div class="card horizontal hoverable">
			    <div class="card-image">
			    	<div class="image-horizontal">
			        	<img class="fit" src="https://image.freepik.com/vector-gratis/vector-de-engranajes_23-2147491687.jpg"> 
			    	</div>
			    </div>
			    <div class="card-stacked">
			        <div class="card-content">
			          <p class="subWa">Habilidad técnica</p>
			          <p>Habilidades necesarias para "saber hacer"</p>
			        </div>
		    	</div>
		  	</div>
		</div>
		<div class="col s4">
		    <div class="card horizontal hoverable">
			    <div class="card-image">
			    	<div class="image-horizontal">
			        	<img src="http://files.rietequieretesuperate.webnode.es/200002866-81dd183d1b/b-32699-9c9b6d.jpg">
			    	</div>
			    </div>
			    <div class="card-stacked">
			        <div class="card-content">
			          <p class="subWa">Habilidad social</p>
			          <p>Habilidades para trabajar con personas</p>
			        </div>
		    	</div>
		  	</div>
		</div>
		<div class="col s4">
		    <div class="card horizontal hoverable">
			    <div class="card-image">
			    	<div class="image-horizontal valign-wrapper">
			        	<img class= "fit" src="https://masfrancesc.files.wordpress.com/2015/01/alternativas.jpg">
			        </div>
			    </div>
			    <div class="card-stacked">
			        <div class="card-content">
			          <p class="subWa">Habilidad racional</p>
			          <p>Habilidades para la toma de decisiones.</p>
			        </div>
		    	</div>
		  	</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s10 offset-s2">
		<hr>
		<h5 class="center">Administradores</h5>
		<div class="col s6">
			<p class="subWa center">Tipos de Administradores</p>
			{{#materialize-collapsible}}
			    <li>
			    	<div class="collapsible-header">Gerente de primera línea</div>
			    	<div class="collapsible-body">Administrador responsable de la supervisión diaria de empleados que no son administradores.
					</div>
			    </li>
			    <li>
			      <div class="collapsible-header">Gerentes medios</div>
			      <div class="collapsible-body"><span>Un gerente que supervisa a los gerentes de primera línea y es responsable de encontrar la mejor manera de supervisar los recursos para alcanzar las metas de la organización</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header">Alta gerencia</div>
			      <div class="collapsible-body"><span> Administrador que fija las metas de la organización, decide cómo deben relacionarse los departamentos y vigila el desempeño de los gerentes medios.
				  </span></div>
			    </li>		    
			{{/materialize-collapsible}}
		</div>
		<div class="col s6">
			<p class="subWa center">Papeles del Administrador</p>
			{{#materialize-collapsible}}
			    <li>
			    	<div class="collapsible-header">De Decisión</div>
			    	<div class="collapsible-body">Se relacionan con métodos que siguen los gerentes para planear estrategias y aprovechar los recursos. <br>
			    	◦	Emprendedor <br>
			    	◦ 	Manejador de Contingencias <br>
			    	◦	Distribuidor de Recursos <br>
			    	◦	Negociador
					</div>
			    </li>
			    <li>
		      		<div class="collapsible-header">De Información</div>
			      	<div class="collapsible-body"><span>Se relacionan con tareas que se requieren para obtener y transmitir información <br>
			      	◦	Supervisor <br>
			      	◦	Difusor <br>
			      	◦	Vocero
			      	</span>
			      	</div>
			    </li>
			    <li>
		      		<div class="collapsible-header">De Trato Personal</div>
			      	<div class="collapsible-body"><span> Proveen dirección y supervisión tanto los empleados como a la organización en general. <br>
			      	◦	Figura Emblemática <br>
			      	◦	Líder <br>
			      	◦	Enlace
				  	</span>
				  	</div>
			    </li>		    
			{{/materialize-collapsible}}
		</div>
	</div>
</div>