<div class="row">
	<header>
		{{side-nav}}
	</header>
	<div id="info" class="col s10 offset-s2 cyan darken-3">
	    <h4>
	        Unidad 4. La Tecnología de información como factor clave de éxito.
	    </h4>
	</div>
</div>	